!!!
%html
	%head
		%title My Sinatra App
		%link(rel="stylesheet" href="css/styles.css")
	%body
		
		%h1 Welcome
		%h2 This Sinatra App has HAML views and a database
	#content
		%p
			This is some text
		
