
		
<!DOCTYPEhtml>
<html>

 <body>
    <head>
        
     <title> My Sinatra App </title>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
     <link href="css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
     <link href=href="css/styles.css" rel="stylesheet" type="text/css">

 </head>
     


<h1> Welcome </h1>
<h2> This Sinatra App has views and a database </h2>

<p> Some ordinary text is placed here </p>


<a href="/posts"> Posts </a>
   
 
 </body>
</html>
